{{ define "title" }}Change Password{{ end }}

{{ define "main" }}
  <form
    class="flex-column"
    action="/account/password/update"
    method="POST"
    novalidate
  >
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
    {{ range .Form.NonFieldErrors }}
      <div class="error">{{ . }}</div>
    {{ end }}
    <label for="currentPassword-input">
      Current Password:
      {{ with .Form.FieldErrors.currentPassword }}
        <span class="error">{{ . }}</span>
      {{ end }}
      <input
        id="currentPassword-input"
        name="currentPassword"
        type="password"
      />
    </label>
    <label for="newPassword-input">
      New Password:
      {{ with .Form.FieldErrors.newPassword }}
        <span class="error">{{ . }}</span>
      {{ end }}
      <input id="newPassword-input" name="newPassword" type="password" />
    </label>
    <label for="confirmPassword-input">
      Confirm Password:
      {{ with .Form.FieldErrors.confirmPassword }}
        <span class="error">{{ . }}</span>
      {{ end }}
      <input
        id="confirmPassword-input"
        name="confirmPassword"
        type="password"
      />
    </label>
    <input type="submit" value="Change password" />
  </form>
{{ end }}
