{{define "title"}}Snippet #{{.Snippet.ID}}{{ end }}

{{define "main"}}
<article class="snippet">
  <div class="metadata">
    <h2>{{.Snippet.Title}}</h2>
    <span>#{{.Snippet.ID}}</span>
  </div>
  <pre><code>{{.Snippet.Content}}</code></pre>
  <footer class="metadata">
    <time>Created: {{.Snippet.Created}}</time>
    <time>Expires: {{.Snippet.Expires}}</time>
  </footer>
</article>
{{ end }}
